.wrapper {
    width: 500px;
    margin: 0 auto;
    padding: 15px 20px;
    border: 1px solid #333333;
    background: #999999;
}
.header {
    text-align: center;
}
.header-ti {
    font: bold 18px/1.5 '';
}
.login-form {
    text-align: center;
}
.form-label {
    display: inline-block;
    width: 90%;
    margin: 10px auto;
}
.form-input {
    width: 100%;
    height: 26px;
    font: 13px/2 '';
    text-indent: 5px;
    border: 1px solid #000000;
}
.tool-bar {
    text-align: right;
}
.btn {
    padding: 5px 10px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    background: white;
}
.captcha-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
}
.captcha-wrapper img {
    width: 100px;
    height: 26px;
    margin: 10px 5px 10px 0;
    vertical-align: middle;
}
